.Profile {
  position: relative;
  display: grid;
  grid-template-columns: 18rem auto 20rem;
  gap: 1rem;
}

.Profile-center {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
@media only screen and (max-width: 600px) {
  .ProfileSide {
    display: none;
  }
  .RightSide {
    display: none;
  }
  .Profile-center {
    width: 90vw;
  }
  .Home {
    position: relative;
    display: flex;
    gap: 1rem;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .RightSide {
    display: none;
  }

  .Home {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto;
    gap: 1rem;
  }
}
